<h3>Список записей</h3>
<hr/>
<%= render 'admin/nav_links' %>

<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class="" scope="col">Id</th>
      <th class="" scope="col">Имя</th>
      <th class="" scope="col">Фамилия</th>
      <th class="" scope="col">Время</th>
      <th class="" scope="col">Город</th>
      <th class="" scope="col">Филиал</th>
      <th class="" scope="col">Адресс</th>
      <th class="shrink" scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	<% @bookings_admin.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.first_name %></td>
      <td><%= booking.last_name %></td>
      <td><%= booking.dateandtime %></td>
      <% Location.where(id: booking.location_id).each do |l| %>
        <td><%= l.city %></td>
        <td><%= l.branch_name %></td>
        <td><%= l.location %></td>
      <% end %>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_booking_path(booking), title: "Показать", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать' }) do %>
          <%= icon("info-circle", class: "bi bi-info-circle") %>
          <% end %>

          <%= link_to(edit_admin_booking_path(booking), title: "Редактировать", class: "btn btn-outline-warning", data: { toggle: 'tooltip', placement: 'top', original_title: 'Редактировать' }) do %>
          <%= icon("pencil-square", class: "bi bi-pencil-square") %>
          <% end %>

          <%= link_to(admin_booking_path(booking), method: :delete, title: "Удалить", class: "btn btn-outline-danger", data: { toggle: 'tooltip', placement: 'top', original_title: 'Удалить', confirm: 'Вы действительно хотите удалить объект?' }) do %>
          <%= icon("backspace-reverse", class: "bi bi-bi bi-backspace-reverse") %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
