<h3>Панель Администрирования</h3>
<hr/>

<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class="shrink" scope="col">Название модели</th>
      <th class="shrink" scope="col">Последнее изменение</th>
      <th class="" scope="col">Количество записей</th>
      <th class="shrink" scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Онлайн записи', admin_bookings_path %></td>
      <td><%= booking_last_update %></td>
      <td><%= @bookings.size %></td>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_bookings_path, title: "Показать всё", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать всё' }) do %>
      		<%= icon("list-ul", class: "bi bi-list-ul") %>
      	  <% end %>

      	  <%= link_to(new_admin_booking_path, title: "Добавить", class: "btn btn-outline-success", data: { toggle: 'tooltip', placement: 'top', original_title: 'Добавить' }) do %>
      		<%= icon("plus", class: "bi bi-plus") %>
      	  <% end %>
      	</div>
      </td>
    </tr>
    <tr>
      <td><%= link_to 'Локации', admin_locations_path %></td>
      <td><%= location_last_update %></td>
      <td><%= @locations.size %></td>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_locations_path, title: "Показать всё", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать всё' }) do %>
          <%= icon("list-ul", class: "bi bi-list-ul") %>
          <% end %>

          <%= link_to(new_admin_location_path, title: "Добавить", class: "btn btn-outline-success", data: { toggle: 'tooltip', placement: 'top', original_title: 'Добавить' }) do %>
          <%= icon("plus", class: "bi bi-plus") %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= link_to 'Услуги', admin_services_path %></td>
      <td><%= service_last_update %></td>
      <td><%= @services.size %></td>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_services_path, title: "Показать всё", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать всё' }) do %>
          <%= icon("list-ul", class: "bi bi-list-ul") %>
          <% end %>

          <%= link_to(new_admin_service_path, title: "Добавить", class: "btn btn-outline-success", data: { toggle: 'tooltip', placement: 'top', original_title: 'Добавить' }) do %>
          <%= icon("plus", class: "bi bi-plus") %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= link_to 'Парикмахеры', admin_hairdressers_path %></td>
      <td><%= hairdresser_last_update %></td>
      <td><%= @hairdressers.size %></td>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_hairdressers_path, title: "Показать всё", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать всё' }) do %>
          <%= icon("list-ul", class: "bi bi-list-ul") %>
          <% end %>

          <%= link_to(new_admin_hairdresser_path, title: "Добавить", class: "btn btn-outline-success", data: { toggle: 'tooltip', placement: 'top', original_title: 'Добавить' }) do %>
          <%= icon("plus", class: "bi bi-plus") %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= link_to 'Пользователи', admin_users_path %></td>
      <td><%= user_last_update %></td>
      <td><%= @users.size %></td>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_users_path, title: "Показать всё", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать всё' }) do %>
      		<%= icon("list-ul", class: "bi bi-list-ul") %>
      	  <% end %>

      	 <%= link_to(new_admin_user_path, title: "Добавить", class: "btn btn-outline-success", data: { toggle: 'tooltip', placement: 'top', original_title: 'Добавить' }) do %>
      		<%= icon("plus", class: "bi bi-plus") %>
      	  <% end %>
      	</div>
      </td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>
      	...
      </td>
    </tr>
  </tbody>
</table>
</div>
