<div class="row">
  	<div class="col-lg-4 col-md-6 ml-auto mr-auto">

    <h2 class="text-center">Онлайн запись</h2>

		<%= form_for :booking, url: bookings_path do |f| %>

		<div class="form-group">
			<%= f.label "Введите имя" %><br/>
			<%= f.text_field :first_name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label "Введите фамилию" %><br/>
			<%= f.text_field :last_name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label "Выберите парикмахера" %><br/>
			<%= select_tag(:hairdresser, options_for_select(['Марри Джэн', 'Салли Гудман', 'Фреди Колман']), class: "form-control") %>
		</div>

		<div class="form-group">
		  <%= f.label "Введите дату и время" %>
		    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" name="dateandtime">
		</div>

		<div class="form-group">
			<%= f.label "Номер телефона" %><br/>
			<%= f.text_field :phone_num, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label "Введите заметку для нас" %><br/>
			<%= f.text_area :note, class: "form-control", rows: 5 %>
		</div>

		<div class="form-group">
			<%= f.submit "Записаться", class: "btn btn-primary" %>
		</div>
			<% end %>

	</div>
</div>