<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-location-tab" data-toggle="pill" href="#pills-location" role="tab" aria-controls="pills-location" aria-selected="true">Местоположение</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-service-tab" data-toggle="pill" href="#pills-service" role="tab" aria-controls="pills-service" aria-selected="false">Услуги</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-hairdresser-tab" data-toggle="pill" href="#pills-hairdresser" role="tab" aria-controls="pills-hairdresser" aria-selected="false">Барберы</a>
</li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-personal_data-tab" data-toggle="pill" href="#pills-personal_data" role="tab" aria-controls="pills-personal_data" aria-selected="false">Персональные данные</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-location" role="tabpanel" aria-labelledby="pills-location-tab">
    <%= form_with model: @booking, local: true do |f| %>
        <div class="row">
        <% @location.each do |l| %>
    
    <div class="col-sm-4">
      <div class="card">
        <img src="<%= asset_path('map_city.png') %>" class="card-img-top" >

        <div class="card-body">
          <h5 class="card-title"><%= l.branch_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= l.location %></h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar augue vel sem sagittis, in convallis arcu pulvinar. Fusce eget neque enim.</p>
          <%= f.radio_button :location_id, l.id %>
          <b><%= l.id %></b>
           
        </div>
      </div>
    </div>
   <% end %>
</div>
  </div>
  <div class="tab-pane fade" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab">
        <div class="row">
          
        <br/><% @location.each do |l| %>
    
    <div class="col-sm-4">
      <div class="card">
        <img src="<%= asset_path('map_city.png') %>" class="card-img-top" >

        <div class="card-body">
          <h5 class="card-title"><%= l.branch_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= l.location %></h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar augue vel sem sagittis, in convallis arcu pulvinar. Fusce eget neque enim.</p>
          
        </div>
      </div>
    </div>
   <% end %>
  </div>
  </div>
  <div class="tab-pane fade" id="pills-hairdresser" role="tabpanel" aria-labelledby="pills-hairdresser-tab">
  </div>

  <div class="tab-pane fade" id="pills-personal_data" role="tabpanel" aria-labelledby="pills-personal_data-tab">
    <!-- <div class="row"> -->
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label "Введите имя" %><br/>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Введите фамилию" %><br/>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Введите дату и время" %>
          <%= f.datetime_local_field :dateandtime, value: DateTime.civil(2007, 12, 4, 0, 0, 0, 0).to_formatted_s(:db), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Номер телефона" %><br/>
          <%= f.text_field :phone_num, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Введите заметку для нас" %><br/>
          <%= f.text_area :note, class: "form-control", rows: 5 %>
        </div>

        <div class="form-group">
          <%= f.submit "Записаться", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  <!-- </div> -->
</div>
