<div class="col-sm-5">
  <h3>Создать нового парикмахера</h3>
  <hr/>
  <%= render 'admin/nav_links' %>
  
	<%= form_with model: [:admin, @hairdresser], local: true, url: admin_hairdressers_path(@hairdresser) do |f| %>

	<div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :position %><br />
        <%= f.text_field :position, autocomplete: "position", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, autocomplete: "description", class: "form-control", rows: 5 %>
      </div>

      <div class="form-group">
        <%= f.label :location_id %>
          <%= f.collection_select(
        :location_id, @location, :id, :city_and_branch_name,{ promt: true }, class: 'custom-select' 
        ) %>
      </div>

      <div class="actions">
        <br/><%= f.submit "Создать", class: "btn btn-primary" %>
      </div>
    <% end %>	
</div>