<h3>Список пользователей</h3>
<hr/>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to(new_admin_user_path, title: "Создать", class: "nav-link active", data: { toggle: 'tooltip', placement: 'top', original_title: 'Создать' }) do %>
        <%= icon("plus", class: "bi bi-plus") %> Создать
    <% end %>
  </li>
</ul>
<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class="" scope="col">Id</th>
      <th class="" scope="col">Имя</th>
      <th class="" scope="col">Почта</th>      
      <th class="" scope="col">Роль</th>
      <th class="" scope="col">Последнее обновление</th>
      <th class="" scope="col">Дата создания</th>
      <th class="shrink" scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.role.name %></td>
      <td><%= user.updated_at %></td>
      <td><%= user.created_at %></td>
      <td><div class="btn-group btn-group-sm align-content-start" role="group"><%= link_to(admin_user_path(user), title: "Показать", class: "btn btn-outline-primary", data: { toggle: 'tooltip', placement: 'top', original_title: 'Показать' }) do %>
          <%= icon("info-circle", class: "bi bi-info-circle") %>
          <% end %>

          <%= link_to(edit_admin_user_path(user), title: "Редактировать", class: "btn btn-outline-warning", data: { toggle: 'tooltip', placement: 'top', original_title: 'Редактировать' }) do %>
          <%= icon("pencil-square", class: "bi bi-pencil-square") %>
          <% end %>

          <%= link_to(admin_user_path(user), method: :delete, title: "Удалить", class: "btn btn-outline-danger", data: { toggle: 'tooltip', placement: 'top', original_title: 'Удалить', confirm: 'Вы действительно хотите удалить объект?' }) do %>
          <%= icon("backspace-reverse", class: "bi bi-bi bi-backspace-reverse") %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
