  <h2 class="text-center">Ваша бронь</h2>

    <table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Наименование</th>
	      <th scope="col">Значение</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	      <th scope="row">1</th>
	      <td><b>ID</b></td>
	      <td><%= @users.id %></td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td><b>Имя пользователя</b></td>
	      <td><%= @users.username %></td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td><b>Почта</b></td>
	      <td><%= @users.email %></td>
	    </tr>
	    
	    <tr>
	      <th scope="row">4</th>
	      <td><b>Роль</b></td>
	      <td><%= @users.role.name %></td>
	    </tr>
	    <tr>
	      <th scope="row">5</th>
	      <td><b>Дата создания</b></td>
	      <td><%= @users.created_at %></td>
	    </tr>
	    <tr>
	      <th scope="row">6</th>
	      <td><b>Дата обновления</b></td>
	      <td><%= @users.updated_at %></td>
	    </tr>	    
	    
	  </tbody>
	</table>
	<%= link_to(edit_admin_user_path(@users), class: "btn btn-warning") do %>
        <%= icon("pencil-square", class: "bi bi-pencil-square") %>
        Редактировать
    <% end %>

    <%= link_to(admin_user_path(@users), method: :delete, title: "", class: "btn btn-danger", data: { confirm: 'Вы действительно хотите удалить объект?' }) do %>
    	<%= icon("backspace-reverse", class: "bi bi-bi bi-backspace-reverse") %>
    	Удалить
    <% end %>
    <br/>