<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body>
    <%= render 'layouts/navbar_admin' %>

    <div class="container-fluid">
      <br/>
      <%= render 'layouts/alerts' %>
        <div role="tabpanel">
          <div class="row row-cols-2">
            <%= render 'layouts/sidebar_admin' %>
            <div class="col-9">
              <%= yield %>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
